.env
.idea/
.vscode
*.db
*.exe
/app/*.css*
/app/*.js*
/app/**/vendor/
/mod_packs/*
/pkg/
/src/vendor/
auth.leveldb*
build/
conf.json
dev_packs/
dev/
factorio_server_manager*
factorio-server-manager*
factorio.auth
mix-manifest.json
node_modules/
npm-debug.log
